.section {
    display: flex;
    margin-left: 120px;


}

.person {
    height: 193px;
    width: 350px;
    background-color: rgb(63, 59, 59);
    border-radius: 8px;
    margin: 5px;
    padding: 3px;
    color: white;
}

.img-1 {
    width: 25px;
    border-radius: 50%;
    background-color: transparent;

}

.img-2 {
    height: 80px;
    border-radius: 50%;
}

.second-container {
    width: 350px;
    height: 620px;
    background-color: aliceblue;
    border-radius: 10px;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.person-item-1 {
    padding-left: 300px;
    margin: 10px;
}

.person-item-2 {
    padding-left: 130px;
    border-radius: 50%;
}

.name {
    padding-left: 10px;

}


.step1 {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    margin: 12px;
}

.step1-img img {
    width: 18px;

}

.item {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

}

.item-img {
    width: 35px;
    border-radius: 50%;
    padding: 10px;

}

.font-size {
    font-size: 12px;
}

.subitem1 {
    margin-right: 100px;
}

.subitem2 {
    margin-right: 80px;
}

.subitem3 {
    margin-right: 60px;
}

.subitem4 {
    margin-right: 110px;
}

.subitem5 {
    margin-right: 50px;
}

.subitem6 {
    margin-right: 90px;
}



.para-item {
    margin: 10px;
    padding-left: 20px;
}